<% provide(:title, 'About Us') %>

    <h1>About Us</h1>
    <p>
    The Disruption Department is preparing the next generation of engineers in St. Louis.  Do you want to make something awesome?  Do you want to get noticed?  Start now.
    </p>
  </body>
</html>