<% provide(:title, 'About Us') %>

    <h1>About Us</h1>
    <p>The Disruption Department is preparing the next generation of engineers in St. Louis.</p>
    <p>Do you want to make something awesome?</p>
    <p>Start now.</p>
  </body>
</html>